<h1><a href='{% url 'polls:detail' question.id %}'
  >{{ question.question_text }}</a></h1>

<ul>
  {% for choice in question.choice_set.all %}
    <li><strong>{{ choice.choice_text }}</strong> &mdash;
      {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
  {% endfor %}
</ul>
